<%= form_for @recipe do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<% f.collection_check_boxes (:ingredient_ids, Ingredient.all, :id, :name) do |ingredient| %>
  <p> <%= ingredient.name %>
  <%= ingredient.check_box %> </p>
<% end %>

<%=f.submit %>
<% end %>
